.con-calls-for-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 24rem;

  .w-100 {
    width: 100%;
  }

  .not-found {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .con-calls-for-data-title {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .title {
      font-size: 2rem;
    }

    .add-cfd {
      right: 20px;
      position: absolute;
      margin-left: auto;
    }
  }

  .call-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
