.con-call-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cfd-title {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-title {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .w-100 {
      width: 100%;
    }

  }

  .select-file-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;

    .select-file-label {
      padding: 0.5rem 1rem;
      color: var(--primary);
      font-weight: 500;
      border: 1px solid var(--primary);
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .stepper-form {
    margin-top: 1rem;

    .block-title {
      display: flex;
      justify-content: center;
    }
  }

  .navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.done-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
