<mat-card class="don-profile-wrapper">
  <mat-card-title class="don-profile-title">Donor profile</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Contact Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Institution</mat-label>
        <input matInput formControlName="institution">
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
