<mat-card class="don-call-list-wrapper">
  <mat-card-title class="don-call-list-title">My calls for data</mat-card-title>

  <mat-card-content class="w-100">
    <div *ngFor="let call of calls" class="call-wrapper">
      <div class="left-side">
        <div class="title">{{ call.title }}</div>
        <div class="date">{{ call.date | date: 'mediumDate' }}</div>
      </div>
      <div class="right-side">
        <button mat-stroked-button
                color="primary"
                type="button"
                class="view-button"
                (click)="onView(call._id)"
        >View</button>
        <button mat-raised-button
                color="warn"
                type="button"
                (click)="onRevoke(call._id)"
        >Revoke</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
