@use '~@angular/material' as mat;
@import "~@angular/material/theming";

.don-call-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 24rem;

  .w-100 {
    width: 100%;
  }

  .don-call-list-title {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }

  .call-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .left-side {
      .title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .date {
        font-size: 0.8rem;
          color: mat.get-color-from-palette(mat.$gray-palette, 600);
      }
    }

    .right-side {
      .view-button {
        margin-right: 1rem;
      }
    }
  }
}
