.authenticaion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .content {
    .form {
      display: flex;
      flex-direction: column;

      .button-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
}
